*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}
body{
	font-family: Montserrat, Arial, Helvetica, sans-serif;
}
header{
    background: var(--overlay-color);
}
header:before{
    background: url(../assets/image-header.jpg) no-repeat center center/cover;
}
#head > div > div{
    width: 100%;
    margin-left: 0;
    margin-top: 1rem;
}
#head h1{
	margin-top: 6rem;
}
#head span{
	color: rgb(172, 172, 168);
}

#about1{
	width: 100%;
	padding: 5rem 0;
	border-bottom: 1px solid rgba(163, 156, 156, 0.3);
}

#about1 .about1{
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

#about1 .about1 .box1{
	width: 40%;
}

#about1 .about1 .box1 img{
	width: 400px;
	height: 300px;
}

#about1 .about1 .box2{
	width: 50%;
	padding-right: 9rem;
	align-self: flex-end;
}

#about1 .about1 .box2 .btn{
	margin-top: 0;
}

#about2 .about2{
	width: 80%;
	height: 300px;
	margin: auto;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 3rem 0;
}

#about2 .about2 .box1{
	width: 40%;
}

#about2 .about2 .box2{
	width: 50%;
	padding-left: 6rem;
	padding-right: 3rem;
	align-self: flex-end;
	justify-self: flex-end;
}

#about3 .about3{
	width: 70%;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: center;
	align-items: center;
	padding: 2rem 4rem;
}

#about3 .about3 div{
	width: 250px;
	height: 230px;
	margin-bottom: 2rem;
}

#about3 .about3 img{
	width: 100%;
	height: 90%;
}

#about3 .about3 .box1{
	display: flex;
	justify-content: center;
	align-items: center;
}

#about3 .about3 .box1 p{
	transform: rotate(-90deg);
}

#about3 .about3 .box p{
	margin: 0 auto;
	text-align: center;
	line-height: 20px;
}

#about3 .about3 .box small{
	color: rgb(199, 194, 194);
}

#about4{
	width: 100%;
	background-color: rgb(77, 77, 77);
	color: rgb(248, 248, 242);
	height: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#about4 .about4{
	width: 70%;
	margin: auto;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 2rem;
}

#about4 .about4 > div{
	width: 33%;
}

#about4 .about4 .box{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100px;
	margin-bottom: 1rem;
}

#about4 .about4 .box p{
	align-self: flex-end;
	margin-left: 1rem;
}

#about4 .about4 img{
	width: 50px;
}





