:root{
    --Primary-color: rgb(255, 254, 254);
    --Secondary-color: rgb(247, 12, 90);
    --text-primary: rgb(14, 12, 20);
    --overlay-color: rgba(14, 12, 20, 0.7);
    --transparent-color: rgba(55, 55, 56, 0.7);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}
  
body {
    background: var(--Primary-color);
    color: var(--text-primary);
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 16px; 
}

a {
    display: inline-block;
    color: inherit;
    text-decoration: none; 
}

li {
    list-style: none;
    margin: auto 1.2rem; 
}

p, h1, h2{
    margin-bottom: 1rem;
    line-height: 30px;
}

img{
    width: 300px;
    height: auto;
}

i{
    margin-left: 2rem;
    cursor: pointer;
}

hr{
    border: 1px solid var(--Secondary-color);
    width: 50%;
    margin-bottom: 2rem;
}

span.logo{
    color: var(--Secondary-color);
    margin-left: 1rem;
}

.btn{
    background: var(--Secondary-color);
    padding: 0.7rem 1rem;
    margin: 2rem 0;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.btn-white{
    background: var(--Primary-color);
    color: var(--Secondary-color);
    font-size: 1.2rem;
    border: 1px solid var(--Secondary-color);
    border-radius: 10px;
    box-shadow: 0 0.1rem 5px rgba(68, 67, 63, 0.7);
}

.btn-default{
    background: var(--Primary-color);
    color: var(--Secondary-color);
    font-size: 1.2rem;
    border-radius: 5px;
    box-shadow: 0 0.1rem 5px rgba(68, 67, 63, 0.7);
}

.btn:hover, .fa:hover{
    opacity: 0.9;
}

.current{
    color: var(--Secondary-color);
    font-size: 1.2rem;
}

.bold{
    font-weight: bold;
}

header{
    /* background: var(--overlay-color); */
    color: var(--Primary-color);
    width: 100%;
    height: 100vh;
    position: relative;
}

header:before{
    background: url(../assets/Homepage\ gif.gif) no-repeat center center/cover;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.9;
}

header nav{
    width: 100%;
    background: var(--transparent-color);
    position: fixed;
    top: 0;
    padding: 1.2rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

header nav .logo img{
    width: 200px;
    height: auto;
}

header .nav-links ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .nav-links ul li{
    transition: all 0.4s ease;
}

header .nav-links ul li:hover{
    opacity: 0.7;
}

header input, header .first-line, header .last-line{
    display: none;
}

#head{
    width: 100%;
    height: 100%;
}

#head > div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 4rem;
    margin: auto;
}

#head > div h1{
    letter-spacing: 0.3rem;
    font-size: 2rem;
}

#head > div > div{
    width: 100%;
    margin-left: 2rem;
    margin-top: 3rem;
}

#head > div p{
    width: 130px;
    font-size: 1.2rem;
    line-height: 1.7rem;
}

#section1 .section1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    padding: 3rem;
    width: 80%;
    margin: auto;
}

#section1 .box1{
    background-color: var(--text-primary);
    background: url(../assets/jessica-lewis-512224-unsplash.jpg) no-repeat center center/cover;
    margin: auto;
    width: 70%;
    height: 100%;
}

#section1 .box1 img{
    width: 100%;
    height: 100%;
}

#section1 .box2{
    grid-column: 2 / span 2;
    margin: auto;
    padding: 0 3rem;
}

#section1 .box2 h1{
    margin-bottom: 2.5rem;
    font-size: 2.5rem;
}

#section1 .box2 p{
    line-height: 1.5rem;
    margin-bottom: 2rem;
}

#section1 .box2 hr{
    border: 1px solid var(--Secondary-color);
    width: 50%;
    margin-bottom: 2rem;
}

#section1 .box2 span{
    font-size: 1.5rem;
    letter-spacing: 2px;
    margin: 0;
}

#sectionB{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sectionB .sectionB{
    width: 73%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 2rem;
}

#sectionB .text{
    width: 60%;
    padding: 1rem;
}

#sectionB hr{
    margin: 1rem 0;
    margin-top: 1.5rem;
}

#sectionB .bold{
    margin: 0;
    font-weight: bold;
    line-height: 50px;
}

#sectionB .graphics{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: auto;
}

#sectionB .first{
    width: 60%;
}

#sectionB .second{
    width: 40%;
    margin: 2rem auto;
}

#sectionB .first img{
    width: 250px;
    height: 250px;
}

#sectionB .second img{
    width: 130px;
    margin: 1.5rem auto;
}

#section2{
    background: var(--Secondary-color);
    color: var(--Primary-color);
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section2 .wrap{
    width: 73%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 2rem;
}

#section2 p{
    width: 23%;
    letter-spacing: 3px;
}

#section2 .section2{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}

#section2 .section2 div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

#section2 .section2 img{
    width: 100px;
    margin: auto;
}

#sectionC{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

#sectionC .sectionC{
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem;
}

#sectionC .sectionC .image{
    width: 70%;
}

#sectionC .sectionC img{
    width: 100%;
    height: 500px;
}

#sectionC .sectionC .text{
    width: 15%;
}

#sectionC .sectionC .text h6{
    width: 70px;
    border-bottom: 1px solid var(--Secondary-color);
}

#sectionC .sectionC .text p{
    line-height: 50px;
    margin-top: 2rem;
}

#sectionC .sectionC small{
    color: #999;
    font-size: 10px;
    margin-right: 0.2rem;
}

#sectionD{
    background: var(--Secondary-color);
    color: var(--Primary-color);
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    position: relative;
}

#sectionD img{
    width: 350px;
    height: 450px;
    position: absolute;
    top: 80px;
    left: 200px;
}

#sectionD .sectionD{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    margin-left: auto;
    padding: 2rem;
    padding-top: 4rem;
    letter-spacing: 2px;
    word-spacing: 3px;
}
#section3{
    width: 100%;
    height: 350px;
    position: relative;
}

#section3 .fa{
    position: absolute;
    top: 50%;
    right: 12%;
    border: 1px solid #999;
    border-radius: 50%;
    padding: 0.3rem 0.5rem;
}

#section3 .fa-chevron-left{
    right: 20%;
}

#section3 .slider{
    width: 48%;
    height: 100%;
    position: relative;
    margin-left: auto;
}

#section3 .section3{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2rem;
    position: absolute;
    top: 0;
    right: -1500px;
    transition: all 1s ease;
    padding-right: 4rem;
}


#section3 .section3.active{
    right: 25%;
    transition: all 1s ease;
}

@media screen and (max-width: 1100px){
    #section3 .section3.active{
        right: 15%;
    }   
    #sectionD img{
    left: 100px;
    width: 300px;
} 
}

#section3 .section3 .box1{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#section3 .section3 .box1 img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 2rem;
}

#section3 .section3 .box2 .p{
    text-align: center;
    margin: auto;
}

#section4{
    background: var(--overlay-color);
    color: var(--Primary-color);
    position: relative;
    height: 250px;
    padding: 3rem;
}

#section4::before{
    content: '';
    background: url(../assets/image-foot.jpg) no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

#section4 .section4{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

#section4 .section4 > div{
    width: 60%;
}

#section4 .section4 > div .p{
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#section4 .section4 .btn{
    width: 40%;
    max-width: 200px;
    text-align: center;
}