#head > div > div{
    /* margin-left: 0; */
}

header .nav-links{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    transition: all 0.4s ease;
    pointer-events: none;
}

header .nav-links > div{
    background: rgba(26, 25, 25, 0.9);
    min-width: 300vw;
    min-height: 300vw;
    border-radius: 50%;
    display: flex;
    flex: none;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: all 0.4s ease;
}

header .nav-links > div ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: all 0.4s ease 0.1s;
}

header .nav-links > div ul li{
    border-bottom: 0.1px solid var(--Secondary-color);
    width: 100%;
    margin: 0;
}

header .nav-links > div ul li:last-child{
    border-bottom: 0px solid rgba(26, 25, 25, 0.9);
}

header .nav-links > div ul li a{
    padding: 2rem 0;
    width: 100%;
    height: 100%;
    pointer-events: visible;
}

header .nav-links > div ul li:hover{
    opacity: 1;
    background: rgba(51, 51, 50, 0.8);
    border-bottom: 0.1px solid rgba(51, 51, 50, 0.8);
}

header .menu-wrap{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 0.5rem;
    cursor: pointer;
    z-index: 1;
}

header .menu-wrap .toggler{
    position: absolute;
    top: 0;
    left: 5px;
    width: 50px;
    height: 50px;
    opacity: 0;
    z-index: 3;
    cursor: pointer;
}

header .menu-wrap .toggler:checked + .lines > div{
    transform: rotate(135deg);
}

header .menu-wrap .toggler:checked:hover + .lines > div{
    transform: rotate(225deg);
}

header .menu-wrap .toggler:checked:hover + .lines .last-line{
    transform: scale(0);
}

header .menu-wrap .toggler:checked + .lines .first-line::before,
header .menu-wrap .toggler:checked + .lines .first-line::after{
    top: 0;
    transform: rotate(90deg);
}

header .menu-wrap .toggler:checked + .lines .last-line{
    transform: scale(0);
}

header .menu-wrap .toggler:checked ~ .nav-links{
    visibility: visible;
}

header .menu-wrap .toggler:checked ~ .nav-links > div{
    transform: scale(1);
}

header .menu-wrap .toggler:checked ~ .nav-links > div ul{
    opacity: 1;
}

header .menu-wrap > div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

header .menu-wrap .first-line{
    width: 100%;
    height: 10%;
    background: var(--Primary-color);
    position: relative;
    transition: all 0.5s ease;
    z-index: 1;
}

header .menu-wrap .last-line{
    position: absolute;
    top: 42px;
    left: 8px;
    width: 40%;
    height: 8%;
    background: var(--Primary-color);
    transition: all 0.5s ease;
}

header .menu-wrap .first-line::before,
header .menu-wrap .first-line::after{
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--Primary-color);
    transition: all 0.5s ease;
    z-index: 1;
}

header .menu-wrap .first-line::after{
    top: 10px;
}

header input, header .first-line, header .last-line{
    display: block;
}

#section1 .box2 h1{
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
}

#section1 .section1{
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    padding: 3rem 0;
}

#section1 .box1{
    height: 90%;
}

#section1 .box2{
    grid-column: 2;
    padding: 0;
    padding-right: 3rem;
}

#sectionB .sectionB{
    width: 90%;
    font-size: 0.9rem;
    padding: 1rem;
}

#sectionB .graphics img{
    width: 100px;
}

#section2 .wrap{
    width: 100%;
}

#section2 p{
    width: 40%;
    letter-spacing: 1px;
}

#section2 .section2{
    width: 60%;
}

#section2 .section2 img{
    width: 70px;
}

#sectionD img{
    width: 200px;
    height: 250px;
    top: 30px;
    left: 150px;
}
#sectionD .sectionD{
    padding: 1rem;
    padding-top: 4rem;
    letter-spacing: 1px;
    word-spacing: 1px;
}
#section3 .slider{
    width: 75%;
    text-align: center;
    margin: auto;
    padding: 1rem;
}
#section3 .section3.active{
    right: 6%;
}

#section3 .fa{
    right: 20%;
}

#section3 .fa-chevron-left{
    right: 27%;
}

#section4 .section4{
    width: 100%;
}

#section4 .section4 > div .p{
    font-size: 1.2rem;
    letter-spacing: 1px;
}

#section4 .section4 .btn{
    width: 150px;
}


@media screen and (max-width: 480px){
    header{
        height: 650px;
    }
    header nav .logo img{
        width: 100px;
    }
    #head > div h1,
    #section1 .box2 h1{
        font-size: 1.5rem;
        letter-spacing: 0.1rem;
        margin-bottom: 1.5rem;
    }
    #section1 .section1{
        grid-template-columns: 1fr;
        width: 100%;
        padding: 3rem 0;
        padding-bottom: 0;
    }
    #section1 .box1{
        width: 300px;
        height: 200px;
    }
    #section1 .box2{
        grid-column: 1;
        padding: 2rem;
        text-align: center;
    }
    #section1 .box2 hr{
        margin: 0 auto 2rem auto;
    }
    #sectionB .sectionB, #section2 .wrap,
    #sectionC .sectionC{
        display: block;
        text-align: center;
        padding: 0 1rem;
    }
    #sectionB .sectionB {
        display: flex;
        flex-direction: column-reverse;
    }
    #sectionB .sectionB h2{
        font-size: 1rem;
    }
    #sectionB .text, #sectionB .text, #sectionB .graphics{
        width: 100%;
        padding: 0.5rem;
    }
    #sectionB .text hr, #sectionB img{
        margin: auto;
    }
    #section2 .section2, #section2 p,
    #sectionC .sectionC .image,
    #sectionC .sectionC .text{
        width: 100%;
        margin: auto;
        padding: 0 2rem;
    }
    #sectionC .sectionC img{
        height: 250px;
    }
    #sectionC .sectionC h6{
        width: 100%;
        margin: 1rem auto;
    }
    #section2 p{
        width: 70%;
        margin-bottom: 1.5rem;
    }
    #sectionD img{
        width: 200px;
        height: 150px;
        top: 20px;
        left: 85px;
    }
    #sectionD .sectionD{
        justify-content: flex-end;
    }
    #sectionD .sectionD{
        width: 100%;
        height: 100%;
        padding: 1rem;
        text-align: center;
    }
    #section3 .slider{
        width: 100%;
    }
    #section3 .section3.active{
        width: 90%;
        right: 2%;
        padding: 1rem;
    }
    #section3 .fa{
        top: 70%;
        right: 28%;
    }
    #section3 .fa-chevron-left{
        right: 60%;
    }
    #section4 .section4{
        flex-direction: column;
        text-align: center;
    }
    #section4 .section4 > div{
        width: 100%;
    }
    #section2 .section2 div{
        padding: 1rem;
    }
    #section3 .section3.active{
        right: 5%;
    }
    
}
