*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#about3 {
    width: 100%;
}

#about3 .about3{
	width: 70%;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	padding: 2rem 5rem;
}

#about3 .about3 div{
	width: 330px;
	height: 480px;
	margin-bottom: 2rem;
}

#about3 .about3 img{
	width: 100%;
	height: 80%;
	margin-bottom: 1.5rem;
}

#about3 .box1{
    width: 100%;
    display: flex;
    flex-direction: column;
	justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 2rem;
}

#about3 .box1 h2{
    padding: 0;
} 

#about3 .box1 .fa{
    margin-left: 0;
}

#about3 .about3 .box p{
	line-height: 10px;
}

#about3 .about3 .box small{
    color: rgb(146, 143, 143);
}


@media screen and (max-width: 768px){
    #about3 .about3{
        width: 100%;
    }
    #about3 .about3 div{
        width: 200px;
        height: 280px;
    }
    #about3 .about3 div small{
        font-size: 0.65rem;
    }
}

@media screen and (max-width: 480px){
    #about3 .about3{
        padding: 2rem;
    }
    #about3 h2{
        font-size: 1.3rem;
    }
    #about3 .about3 img{
        margin-bottom: 0.5rem;
    }
    #about3 .about3 div{
        width: 140px;
        height: 220px;
        text-align: center;
    }
    #about3 .about3 div small{
        font-size: 0.5rem;
    }
}
